<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>DataController</servlet-name>
		<servlet-class>mvc.controller.DataController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DataController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
		<session-timeout>300</session-timeout>
	</session-config>
</web-app>